services:

  icecast:
    build:
      context: docker/icecast
    ports:
      - 8000:8000
    environment:
      ICECAST_HOSTNAME: "${ICECAST_HOSTNAME:-localhost}"
      ICECAST_ADMIN: "${ICECAST_ADMIN:-admin@localhost}"
      ICECAST_LOCATION: "${ICECAST_LOCATION:-Earth}"
      ICECAST_SOURCE_PASSWORD: "${ICECAST_SOURCE_PASSWORD:-password}"
      ICECAST_RELAY_PASSWORD: "${ICECAST_RELAY_PASSWORD:-password}"
      ICECAST_ADMIN_USER: "${ICECAST_ADMIN_USER:-admin}"
      ICECAST_ADMIN_PASSWORD: "${ICECAST_ADMIN_PASSWORD:-password}"
    restart: always

  streamer:
    build:
      context: streamer/
    environment:
      STREAMER_BOT_TOKEN: "${STREAMER_BOT_TOKEN:?Err}"
    volumes:
      - ./music:/music
    restart: always

  caddy:
    image: caddy
    volumes:
      - caddy-data:/data
      - ./web/dist:/usr/share/caddy
      - ./docker/caddy/conf:/etc/caddy
    ports:
      - 80:80
      - 443:443
    restart: always

volumes:
  caddy-data:
